$fontePrincipal: 'Poppins', sans-serif;
$viewport: 1024px;
    // paleta de cores
$corPrincipal: #f5f6fa;
$corTxtPrincipal: #fff;
$corSecundaria: #182C61;
$corbtn1: #44bd32;
$corFundo: #c8d6e5;
$erro: #B3010D;
    // breakpoints
$mobile: 767px;
$tablet: 1023px;